fastapi==0.128.0
ipykernel==7.1.0
ipython==8.37.0
ipython-genutils==0.2.0
ipywidgets==8.1.8
kagglehub==0.3.13
matplotlib==3.10.8
matplotlib-inline==0.2.1
missingno==0.5.2
numpy==1.24.3
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2

